In [4]:
import pandas as pd

In [2]:
names = [
    "Alice", "Bob", "Charlie", "Diana", "Ethan",
    "Fiona", "George", "Hannah", "Ian", "Julia",
    "Kevin", "Laura", "Michael", "Nina", "Oscar",
    "Paula", "Quentin", "Rachel", "Steve", "Tina"
]
ages = [
    15, 16, 15, 17, 16,
    15, 17, 16, 15, 17,
    16, 15, 17, 16, 15,
    17, 16, 15, 17, 16
]

marks = [
    78, 85, 92, 74, 88,
    95, 67, 80, 90, 73,
    82, 96, 68, 87, 91,
    77, 84, 93, 70, 89
]


students = {
    "name" : names,
    "age" : ages,
    "marks": marks

}
print(students)

{'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan', 'Fiona', 'George', 'Hannah', 'Ian', 'Julia', 'Kevin', 'Laura', 'Michael', 'Nina', 'Oscar', 'Paula', 'Quentin', 'Rachel', 'Steve', 'Tina'], 'age': [15, 16, 15, 17, 16, 15, 17, 16, 15, 17, 16, 15, 17, 16, 15, 17, 16, 15, 17, 16], 'marks': [78, 85, 92, 74, 88, 95, 67, 80, 90, 73, 82, 96, 68, 87, 91, 77, 84, 93, 70, 89]}

show 5 rows

In [7]:
data = pd.DataFrame(students);

In [8]:
print(data)

       name  age  marks
0     Alice   15     78
1       Bob   16     85
2   Charlie   15     92
3     Diana   17     74
4     Ethan   16     88
5     Fiona   15     95
6    George   17     67
7    Hannah   16     80
8       Ian   15     90
9     Julia   17     73
10    Kevin   16     82
11    Laura   15     96
12  Michael   17     68
13     Nina   16     87
14    Oscar   15     91
15    Paula   17     77
16  Quentin   16     84
17   Rachel   15     93
18    Steve   17     70
19     Tina   16     89

In [9]:
print(data.head())

      name  age  marks
0    Alice   15     78
1      Bob   16     85
2  Charlie   15     92
3    Diana   17     74
4    Ethan   16     88

print only names and marks

In [12]:
print(data[["name","marks"]])

       name  marks
0     Alice     78
1       Bob     85
2   Charlie     92
3     Diana     74
4     Ethan     88
5     Fiona     95
6    George     67
7    Hannah     80
8       Ian     90
9     Julia     73
10    Kevin     82
11    Laura     96
12  Michael     68
13     Nina     87
14    Oscar     91
15    Paula     77
16  Quentin     84
17   Rachel     93
18    Steve     70
19     Tina     89

filter students with marks > 80

In [19]:
print(data["marks"] > 80)

high_scorers = data[data["marks"] > 80]
print(high_scorers["name"])
print(high_scorers)

0     False
1      True
2      True
3     False
4      True
5      True
6     False
7     False
8      True
9     False
10     True
11     True
12    False
13     True
14     True
15    False
16     True
17     True
18    False
19     True
Name: marks, dtype: bool
1         Bob
2     Charlie
4       Ethan
5       Fiona
8         Ian
10      Kevin
11      Laura
13       Nina
14      Oscar
16    Quentin
17     Rachel
19       Tina
Name: name, dtype: object
       name  age  marks
1       Bob   16     85
2   Charlie   15     92
4     Ethan   16     88
5     Fiona   15     95
8       Ian   15     90
10    Kevin   16     82
11    Laura   15     96
13     Nina   16     87
14    Oscar   15     91
16  Quentin   16     84
17   Rachel   15     93
19     Tina   16     89